/* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Styles de base pour la barre de menu */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 20px;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    color: white;
}

.logo img {
    height: 80px; /* Ajuste la taille du logo */
    width: 100px;
    margin-right: 10px;
}

/* Menu principal */
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin: 0 15px;
    position: relative;
}

.menu a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #afadad;
    border-radius: 4px;
}

/* Menu déroulant */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #afadad;
    min-width: 160px;
    box-shadow: 0px 8px 16px #afadad;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 10px 16px;
    display: block;
    text-align: left;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}/****/

/* Section avec une image en arrière-plan */
.background-section {
    background-image: url('../images/Capture\ d’écran\ du\ 2024-11-22\ 12-43-35.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 20px;
}

.background-section .content {
    background: rgba(0, 0, 0, 0.5); /* Fond transparent pour améliorer la lisibilité */
    padding: 20px;
    border-radius: 8px;
}

.background-section h1 {
    font-size: 2.5em;
    margin: 0;
}

.background-section p {
    font-size: 1.2em;
    margin: 10px 0;
}

.background-section .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    color: white;
    background-color: #555;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.background-section .btn:hover {
    background-color: #777;
}/************************/

                                        /* Section générale content */
section {
    padding: 20px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

/* Style général de la bannière */
.banner-description {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(4, 1, 1, 0.1);
    margin: 20px auto;
    padding: 20px;
    max-width: 1800px;
    overflow: hidden;
}
/* Conteneur pour l'image et le texte */
.image-text-container {
    display: flex; /* Active le mode Flexbox */
    align-items: center; /* Centre verticalement l'image et le texte */
    justify-content: center; /* Centre horizontalement l'image et le texte */
    gap: 40px; /* Ajoute de l'espace entre l'image et le texte */
    flex-wrap: wrap; /* Permet l'adaptation en colonnes sur petits écrans */
}


/* Style pour l'image */
.image-text-container img {
    margin-right: 200px; /* Ajoute un espace de 40px à droite de l'image */
    width: 50%; /* Ajuste la largeur de l'image */
    max-width: 800px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Conteneur du texte */
.image-text-container .text {
    width: 50%;
    color: #333;
    line-height: 1.6;
    font-size: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    font-family: "Poppins", sans-serif; /* Police de texte mise à jour */
}

/* Style du titre */
.image-text-container .text h2 {
    font-size: 2rem;
    color: #d6336c;
    margin-bottom: 10px;
}

/* Style des paragraphes */
.image-text-container .text p {
    color: #555;
    font-size: 1rem;
}

/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}/******/



                                  /*captation photo*****************/
.banner-description2 {
    width: 100%;
    padding: 40px 20px;
    background-color: #f9f9f9; /* Couleur de fond douce */
}

.image-text-container2 {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espacement entre l'image et le texte */
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.image-text-container2 img {
    width: 50%; /* L'image occupe 50% de la largeur */
    height: auto;
    border-radius: 10px; /* Coins arrondis pour l'image */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Effet d'ombre */
}

.text {
    width: 50%; /* Le texte occupe également 50% de la largeur */
    text-align: left;
}

.text h2 {
    font-size: 28px;
    color: #333; /* Couleur du titre */
    margin-bottom: 20px;
}

.text pre {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}
/***************************************************/











/* Hero Section */
.estrat-hero {
    background: linear-gradient(135deg, #6A0572, #A603A5);
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}

.estrat-hero .container {
    max-width: 800px;
    margin: 0 auto;
}

.estrat-hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.estrat-hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #FFBF00;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.cta-button:hover {
    background-color: #E0A800;
}

/* Services Section */
.estrat-services {
    background-color: #f9f9f9;
    padding: 60px 20px;
    text-align: center;
}

.estrat-services h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #6A0572;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.service-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: translateY(-10px);
}

.service-card img {
    width: 50px;
    margin-bottom: 15px;
}

.service-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.service-card p {
    font-size: 1rem;
    color: #555;
}/******************************************/







.carousel-container {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto; /* Centre le carrousel */
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
  }
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease;
  }
  .carousel-item {
    min-width: 100%;
    flex-shrink: 0;
  }
  .carousel-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
  }
  .carousel-container {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto; /* Centrer le carrousel */
  }
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  .carousel-item {
    min-width: 100%;
    flex-shrink: 0;
  }





                                                          /* Portfolio Section */
                                                          .estrat-portfolio {
                                                            padding: 60px 20px;
                                                            text-align: center;
                                                        }
                                                        
                                                        .estrat-portfolio h2 {
                                                            font-size: 2.5rem;
                                                            margin-bottom: 40px;
                                                            color: #6A0572;
                                                        }
                                                        
                                                        .portfolio-grid {
                                                            display: grid;
                                                            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                                                            gap: 20px;
                                                        }
                                                        
                                                        .portfolio-item img {
                                                            width: 100%;
                                                            border-radius: 8px;
                                                            transition: transform 0.3s ease;
                                                        }
                                                        
                                                        .portfolio-item img:hover {
                                                            transform: scale(1.05);
                                                        }
                                                        
                                                        /* Testimonials Section */
                                                        .estrat-testimonials {
                                                            background-color: #f4f4f4;
                                                            padding: 60px 20px;
                                                            text-align: center;
                                                        }
                                                        
                                                        .estrat-testimonials h2 {
                                                            font-size: 2.5rem;
                                                            margin-bottom: 30px;
                                                            color: #6A0572;
                                                        }
                                                        
                                                        .testimonials-slider {
                                                            max-width: 800px;
                                                            margin: 0 auto;
                                                        }
                                                        
                                                        .testimonials-slider blockquote {
                                                            font-size: 1.2rem;
                                                            font-style: italic;
                                                            color: #555;
                                                            margin-bottom: 20px;
                                                        }
                                                        
                                                        /* Call to Action */
                                                        .estrat-cta {
                                                            background: #939292;
                                                            color: rgb(0, 0, 0);
                                                            padding: 50px 20px;
                                                            text-align: center;
                                                        }
                                                        
                                                        .estrat-cta h2 {
                                                            font-size: 2rem;
                                                            margin-bottom: 20px;
                                                        }
                                                        
                                                        .estrat-cta .cta-button {
                                                            background-color: #FFBF00;
                                                            color: white;
                                                            padding: 15px 30px;
                                                            font-size: 1.2rem;
                                                            border-radius: 30px;
                                                            transition: background-color 0.3s;
                                                        }
                                                        
                                                        .estrat-cta .cta-button:hover {
                                                            background-color: #E0A800;
                                                        }
                                                        /********************************/




/***************************/
/* Global container */
.container {
    max-width: 2200px;
    margin: 0 auto;
    padding: 0 20px; /* Petit espace sur les côtés */
    text-align: center; /* Centrage horizontal du texte */
}

/* Mission Section */
.kitty-content-mission {
    background: linear-gradient(135deg, #e0f7fa, #f1f8e9); /* Doux dégradé */
    padding: 100px 20px;
    text-align: center;
    border-radius: 15px;
    margin: 40px auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.kitty-content-mission h2 {
    font-size: 3rem;
    color: #00796b;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.kitty-content-mission p {
    font-size: 1.8rem; /* Plus grand pour plus de visibilité */
    color: #444;
    line-height: 2;
    margin-bottom: 40px;
}

/* Valeurs Section */
.kitty-content-valeurs {
    background: linear-gradient(135deg, #f8e1f4, #fdf1f9); /* Doux dégradé */
    padding: 100px 20px;
    text-align: center;
    border-radius: 15px;
    margin: 40px auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.kitty-content-valeurs h2 {
    font-size: 3rem;
    color: #d6336c;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.kitty-content-valeurs .valeur-details {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.kitty-content-valeurs .valeur-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px; /* Largeur définie pour chaque carte */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.kitty-content-valeurs .valeur-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.kitty-content-valeurs .valeur-card img {
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.kitty-content-valeurs .valeur-card h3 {
    font-size: 1.8rem; /* Texte plus grand */
    color: #d6336c;
    margin-bottom: 10px;
}

.kitty-content-valeurs .valeur-card p {
    font-size: 1.2rem; /* Texte légèrement agrandi */
    color: #555;
    line-height: 1.6;
}/******************************/



 




/* Section Services */
.services-section {
    background-color: #e3e1e1;
    padding: 30px 20px;
    text-align: center;
}

.services-section h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;
}

.services-section p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 40px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Grille adaptative */
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.service-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
    transform: scale(1.05); /* Zoom léger */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.service-item img {
    width: 240px;
    height: 180px;
    margin-bottom: 20px;
}

.service-item h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.service-item p {
    font-size: 1em;
    color: #666;
    line-height: 1.5;
    text-align: justify; /* Ajout pour justifier le texte */
}

/* Responsive Design */
@media (max-width: 768px) {
    .services-section h2 {
        font-size: 2em;
    }

    .services-section p {
        font-size: 1em;
    }

    .service-item h3 {
        font-size: 1.2em;
    }

    .service-item p {
        font-size: 0.9em;
    }
}







/* Sections du footer */
.site-footer {
    background-color: #0f0101; /* Couleur de fond sombre */
    color: white;
    padding: 40px 20px;
    border-radius: 0px 0px 10px 10px; /* Bords arrondis en bas */
}

/* Conteneur principal pour les sections du footer */
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

/*  */
.footer-logo, .footer-links, .footer-social, .footer-contact {
    flex: 1 1 250px; /* Chaque section occupe une largeur égale et s'adapte */
    text-align: center;
}

/* Footer logo */
.footer-logo h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-logo-img {
    width: 60px; /* Taille du logo */
    height: 60px; /* Proportions conservées */
    margin-bottom: 10px;
}

/* Footer liens utiles */
.footer-links h4, .footer-social h4, .footer-contact h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin: 8px 0;
}

.footer-links ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links ul li a:hover {
    color: #f1c40f; /* Couleur au survol */
}

/* Footer réseaux sociaux */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.2); /* Effet zoom */
}

/* Footer contact */
.footer-contact {
    margin-top: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column; /* Les éléments sont empilés verticalement */
    align-items: center;
    gap: 10px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-item img {
    width: 20px;
    height: 20px;
}

.contact-item p {
    font-size: 14px;
    color: #fff;
    margin: 0;
}

/* Bas du footer */
.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    border-top: 1px solid #555;
    padding-top: 10px;
    text-align: center;
}


